@{
    Layout = "_Admin";
}


<div class="main-panel">
    <div class="content-wrapper">




        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth  theme-one">
                <div class="row w-100">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-center mb-4">Course Add</h2>
                        <div class="auto-form-wrapper">
                            <form method="post" asp-controller="Courseadd" asp-action="Insert">


                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="Coursename" class="form-control" placeholder="Course Name">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <input type="submit" value="Add Course" class="btn btn-primary submit-btn btn-block" />
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i>
            </span>
        </div>
    </footer>
    <!-- partial -->
</div>