
@{
    Layout = "_Admin";
}
<link href="//cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>
<link href="~/lib/jquery-datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/lib/jquery-datatables/js/jquery.dataTables.min.js"></script>
<script src="~/js/site.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatabl').DataTable();
        //yo vanda tala vaneko css matrei ho
        // $("ul li.mark").css("background", "yellow");
        //$("ul li#red").css("background", "red");
    });
</script>


<div class="main-panel">
    <div class="content-wrapper">
        <center>
            <table class="table table-bordered" id="datatabl">
                <thead>

                    <tr>
                        <th>sn</th>
                        <th>Name</th>
                        <th>Speciality</th>
                        <th>Phone number</th>
                        <th>Email</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>i</td>
                        <td>doctor.d_full_name</td>
                        <td>doctor.d_speciality</td>
                        <td>doctor.d_contact</td>
                        <td>doctor.d_email</td>

                    </tr>
                    <tr>
                        <td>i</td>
                        <td>doctor.d_full_name</td>
                        <td>doctor.d_speciality</td>
                        <td>doctor.d_contact</td>
                        <td>doctor.d_email</td>

                    <tr>
                        <td>i</td>
                        <td>doctor.d_full_name</td>
                        <td>doctor.d_speciality</td>
                        <td>doctor.d_contact</td>
                        <td>doctor.d_email</td>

                    <tr>
                        <td>i</td>
                        <td>doctor.d_full_name</td>
                        <td>doctor.d_speciality</td>
                        <td>doctor.d_contact</td>
                        <td>doctor.d_email</td>

                    </tr>
                    <tr>
                        <td>i</td>
                        <td>doctor.d_full_name</td>
                        <td>doctor.d_speciality</td>
                        <td>doctor.d_contact</td>
                        <td>doctor.d_email</td>

                    <tr>
                        <td>i</td>
                        <td>doctor.d_full_name</td>
                        <td>doctor.d_speciality</td>
                        <td>doctor.d_contact</td>
                        <td>doctor.d_email</td>

                    <tr>
                        <td>i</td>
                        <td>doctor.d_full_name</td>
                        <td>doctor.d_speciality</td>
                        <td>doctor.d_contact</td>
                        <td>doctor.d_email</td>

                    <tr>
                        <td>i</td>
                        <td>doctor.d_full_name</td>
                        <td>doctor.d_speciality</td>
                        <td>doctor.d_contact</td>
                        <td>doctor.d_email</td>

                    <tr>
                        <td>i</td>
                        <td>doctor.d_full_name</td>
                        <td>doctor.d_speciality</td>
                        <td>doctor.d_contact</td>
                        <td>doctor.d_email</td>


                    </tr>
                    
                </tbody>
            </table>
        </center>
    </div>
</div>