@{

    Layout = "_Administrator";
}
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#datatable').DataTable();


        });
    </script>
}


<div class="main-panel">
    <div class="content-wrapper">


        <center>
            <div class="row">
                <div class="col-lg-10 grid-margin stretch-card" style="overflow-y: auto; height: 400px;">
                    <div class="card">

                        <div class="card-body">
                            <h4 class="card-title">Notice  </h4>
                            <table class="table" id="datatable">
                                <thead>
                                    <tr>
                                        <th>Complain id</th>
                                        <th>Complain subject</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var da in ViewBag.datas)
                                    {
                                        <tr>
                                            <td>@da.cid</td>
                                            <td>@da.complainsub</td>

                                            <td>
                                                <a asp-controller="Complaindata" asp-action="Index" asp-route-cid="@da.cid" class="btn btn-success">View</a>


                                                @* <input type="submit" value="view" onclick="btnclick()" class="btn btn-primary submit-btn btn-block" />
                                                    &nbsp;
                                                    <input type="submit" value="Delete" class="btn btn-primary submit-btn btn-block" />*@
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </center>

        <!--<script>
        function btnclick() {
            $.ajax({
               url:'@Url.Action("result", "Complainview")',
               type: "GET",
                dataType: "text",
                success: function (response) {
                     console.log(response);

                     parsedata = JSON.parse(response);

                    console.log(parsedata);-->
        @*$("#aid").text(val.aid);
            $("#notice").text(val.notice);
            $("#noticename").text(val.noticename);
            $("#publisher").text(val.publisher);*@
        @* $('#nid').val(parsedata.cid);
            $('#nsub').val(parsedata.complainsub);
            $('#cto').val(parsedata.complainto);
            $('#complain').val(parsedata.complain);*@

        <!--$("#complain").text(parsedata.complain);



                   },


                    error: function () { alert("not working ");}
                });
            }
        </script>-->
        <!--<script>
                function btnclick() {
                    var id = $("#cid").val();-->
        @* var obj = {
                Id=id
            }*@
        <!--senddata(id);
        }

        function senddata(id) {
            $.ajax({

                url:"/Complainview/data",

                type:"POST",
                data:id,
                success: function (data) {

                    alert(data);-->
        @* console.log(data);
            data= JSON.parse(data);*@
        <!--},
                        error: function () { alert("not working ");}
                    });
                }


        </script>-->
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
            <div class="container-fluid clearfix">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                    Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i>
                </span>
            </div>
        </footer>
        <!-- partial -->
    </div>
