@{
    Layout = null;
}

<div class="container">

    <form method="post" enctype="multipart/form-data" asp-controller="Teacherbulk" asp-action="Import">
        <input type="file" name="file" />
        <button type="submit"> Import from excell </button>
    </form>
</div>

